*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: SharpGroteskWide,Open Sans,sans-serif;
}

/* simbolo chat */
.simbolo-chat{       
    bottom: 15px;
    right: 20px;
    z-index: 5;
    position: fixed;
    background-color: #0d2481;
    width: 55px;
    height: 55px;
    border-radius: 100%;    
    line-height: 53px;
    color: white;
    font-size: 35px;
    padding-left: 6px;
}



/* INIZIO SEZIONE HEADER */

/* struttura nav */
.nav{    
    background-color: red;
    width: 100%;
    height: 100px;    
    line-height: 100px;
    position: absolute; 
    z-index: 2;
    position: fixed;
}

.clearfix::after{
    display: table;
    content: '';
    clear: both;
}

.sezione-sx{
    float: left;
}

.sezione-dx{
    float: right;
}

.nav ul{
    display: inline-block;
}

.nav a{
    font-size: 16px;
    color: black;
    text-decoration: none;
    vertical-align: middle;
}


/* struttura header */
#main-header{
    position: relative;
    z-index: 5;
}

#main-header nav li{
    display: inline-block;    
}

#main-header nav li a{
    text-decoration: none;
    display: inline-block;  
    box-sizing: border-box;
}

#logo-header{
    height: 30px;
    vertical-align: middle;
    margin-left: 20px;
}

.menu-header{
    display: inline-block; 
    padding-left: 20px ;
    padding-right: 20px; 
}



/*  bottone inizia */
.btn-inizia{    
    float: right;    
    margin-top: 30px;    
    background-color: #0061ff;    
    width: 70px;
    height: 40px;
    text-align: center;    
    line-height: 40px;
    margin-right: 20px;
}

#btn-testo-white{
    color: white;
}


/* SEZIONE JUMBOTOTRON */
.jumbotron{
    background-color: #b4d0e7;
    width: 100%;
    height: 850px;  
    position: relative;

}

/* sezione jumbotron-content */
.jumbotron-content{
    padding-top: 70px;
    background-color: royalblue;
    width: 70%;
    height: 750px;
}

.jumbotron > .jumbotron-content{
    position: absolute;        
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.titolo-jumbotron h1{
    margin-top: 20px;
    font-size: 85px;
    letter-spacing:-11px;
    margin-bottom: 30px;
}

.sottotitolo-jumbotron{
    width: 30%;
    height: 400px;
    background-color: saddlebrown;
    font-size: 16px;
    line-height: 26px;
    float: left;
}

.sottotitolo-jumbotron a{
    text-decoration: none;
}

.sottotitolo-jumbotron p{
    margin-bottom: 30px;
}

.btn-prova-gratuita{   
    color: white;
    background-color: #0061ff;    
    width: 250px;
    height: 40px;
    text-align: center;    
    line-height: 40px;
    margin-bottom: 10px;
}

.arrow a{
    font-size: 60px;
    color: black;
    text-decoration: none;
}

/* sezione immagine jumbotron */
.img-jumbotron{
    width: 70%;
    height: 400px;
    background-color:tomato;
    float: right;
    padding-left: 70px;     
}


/* SEZIONE LISTINO */
.listino-prezzi{
    background-color: burlywood;
    height: 1550px;
    width: 100%;
    position: relative;
}


.content-listino{
    /* background-color: rgb(76, 221, 214); */
    width: 60%;    
}

.listino-prezzi > .content-listino{
    position: absolute;        
    top: 50%;
    left: 50%;
    transform: translate(-50%,-55%);
}

/* sezione titolo listino */
.contenitor-tit-listino{
    /* background-color: rgb(0, 153, 145); */
    width: 100%; 
    padding-bottom: 30px; 
}

.ttl-listino h2{    
    font-size: 40px;
}

.btn-fatturazione{
    margin-top: 30px;
    font-size: 16px;    
}

.btn-margin-left{
    margin-right: 25px;
}

/* sezione centrale/colonne */
.colonna{   
    width: 30%;    
}

.cln-border-grey{
    border: 1px solid grey; 
}

.float-left {
    float:left;
}

.cln-centrale{
    margin-left: 5%;
    margin-right: 5%;    
}

.utente{
    /* background-color: violet; */
    border-bottom: 1px solid grey;
    text-align: center;
    height: 50px;
    line-height: 50px;  
    font-size: 16px;
    font-weight: 500;   
}

.utente span{
    padding-right: 5px;
}

.text-colonna{
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px; 
}

.text-colonna h3{    
    font-weight: bolder;
    margin-bottom: 10px;
}

.text-cln-grigio {
    color: grey;
}


.dettagli-utente p{
    margin-top: 10px;
}

/* modifiche spaziatura colonna sx */
.cln-utnt-sx > .dettagli-utente{
    padding-top: 20px;
}

.btn-prova-30gg-cln-sx{
    margin-top: 45px;
    margin-bottom: 20px;
    color: white;
    background-color: #0061ff;    
    width: 100%;
    height: 40px;
    text-align: center;    
    line-height: 40px; 
}

.pddng-cln-sx{
    padding-bottom: 95px;
}


/* modifiche spaziatura colonna cc */
.btn-prova-30gg-cln-cc{
    margin-top: 46px;
    margin-bottom: 20px;
    color: white;
    background-color: #0061ff;    
    width: 100%;
    height: 40px;
    text-align: center;    
    line-height: 40px; 
}

.pddng-cln-cc{
    padding-bottom: 20px;
}

/* modifiche spaziatura colonna dx */
.pddng-cln-dx{
    padding-bottom: 60px;
}


.btn-prova-30gg{
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
    background-color: #0061ff;    
    width: 100%;
    height: 40px;
    text-align: center;    
    line-height: 40px;  
}


.linea-grigia{
    margin-top: 15px;
    margin-bottom: 15px;
    color: grey;
}

.lista-punti-salienti p{
    padding-bottom: 10px;
    
}

.lista-punti-salienti ul{
    margin-left: 0;
    padding-left: 1em;
    text-indent: -1em;    
}

.lista-punti-salienti li{    
    margin-top: 10px;
    line-height: 25px; 
    list-style-type: none;
    font-size: 14px;
}

.check{    
    color: #0162ff
}


/* blocco orizzontale contatta ufficio vendite */
.blocco-orizz-ufficio-vendite{    
    /* background-color: indigo;     */
    width: 60%;
    position: absolute;    
    bottom: 0;
    left: 20%;
    border: 1px solid grey;    
}

.blocco-sx{
    padding: 30px 30px;
    width: 68%;
    float: left;
    line-height: 40px;
}

.blocco-sx h3{
    font-size: 25px;    
}

.blocco-sx h5{
    font-size: 16px;    
}

.blocco-sx{
    font-size: 13px;
}

.blocco-dx{
    padding-top: 15px;   
}

.blocco-dx a{
    text-decoration: none;
}

.btn-ufficio-sell{
    margin-top: 15px;
    float: right;  
    color: white;
    background-color: #0061ff;    
    width: 300px;
    height: 40px;
    font-size: 17px;
    text-align: center;    
    line-height: 40px;
    margin-right: 20px;
    vertical-align: middle;
}


/* SEZIONE PARTNER DROPBOX */

.partner-dropbox{    
    background-color: rgb(224, 144, 40);
    height: 650px;
    width: 100%;
    position: relative;
}


/* contenuto della sezione */
.content-dropbox{
    background-color: blue;
    width: 60%;    
}

.partner-dropbox > .content-dropbox{
    position: absolute;        
    top: 50%;
    left: 50%;
    transform: translate(-50%,-35%);
}

/* .blocco sx */
.blocco-img-partner-dropbox{
    background-color: rgb(238, 46, 46);
    width: 52%;
    height: 500px;
    float: left;
}


/* blocco dx */
.testo-partner-dropbox{
    width: 48%;
    padding-left: 85px;
    padding-top: 100px;
    float: right;
    
}

.content-testo-partner-dropbox{
    background-color: cadetblue;
    width: 75%;    
}

.content-testo-partner-dropbox h4{
    font-size: 25px;
    line-height: 32px;
    margin-bottom: 22px;
}

.content-testo-partner-dropbox span{
    line-height: 26px;
    
}

.btn-trova-partner{  
    background-color: white;    
    border: 1px solid black;  
    width: 160px;
    height: 40px;
    text-align: center;    
    line-height: 40px;
    margin-top: 25px;   
}

#btn-testo-black{
    color: black;
    text-decoration: none;
    font-size: 16px;    
}

/* SEZIONE OPERAZIONI */
.operazioni{
    background-color: chartreuse;
    width: 100%;
    height: 1500px;    
    position: relative;
}

.content-operazioni{
    /* background-color: rgb(55, 55, 117); */
    width: 60%;    
}

.operazioni > .content-operazioni{
    position: absolute;        
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.cln-operazioni-superiori{
    margin-bottom: 90px;
}


/* titolo della sezione */
.ttl-operazioni h2{
    margin-bottom: 30px;
    font-size: 40px;
    line-height: 46px;
}

/* sezione colonne */
.img-colonna{
    width: 100%;
}


.text-colonna h3{
    margin-bottom: 20px;
    margin-top: 30px;
    font-size: 25px;
    line-height: 32px;
}

.text-colonna p{
    font-size: 16px;
    line-height: 26px;
}

.text-colonna a{
    color: black;
}


/* BLOCCO CUSTOMERS */

/* sezione header-customers */
.header-customers{
    width: 100%;    
    padding-bottom: 50px;
    padding-left: 20%;
}

.propieta-testo-hdr-ctsmrs{
    width: 60%;
}

.propieta-testo-hdr-ctsmrs h2{
    width: 60%;
    font-size: 40px;
    font-weight: bolder;
    line-height: 46px;
    margin-bottom: 30px;
}

.propieta-testo-hdr-ctsmrs a{
    color: #0061ff;
    font-size: 16px;
    line-height: 16px;
}


/* sezione blocchi loghi customers */
.blocchi-loghi-customers{
    width: 100%;
    height: 600px;
    background-color: rgb(41, 63, 19);   
}

.blocco{
    background-color: rgb(70, 18, 29);
    height: 600px;    
    width: calc(100% / 3); 
    float: left; 
      
}

.content-loghi{
    background-color: #a2d39b;    
    height: 300px;    
    width: 50%;
    float: left;
    position: relative;
}

.content-loghi > .logo-customers{
    position: absolute;        
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.logo-customers{
    width: 150px;
    height: 75px;
    filter: invert(1);        
}

.logo-customers-altezza-diversa{
    width: 150px;
    height: 30px;
    filter: invert(1);
}

.content-loghi > .logo-customers-altezza-diversa{
    position: absolute;        
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}


/* colonna centrale */
#content-di-testo{
    background-color: #f5f5f5;
    padding: 105px 50px;
}

.logo-content-di-testo span{
    background-color: brown;
    height: 80px;
    width: 100px;
}

.altezza-logo-sezione-testo{
    height: 50px;
    
}

.linea-grigia-sotto-logo{
    height: 30px;
    width: 60px;
    border-bottom: 1px solid lightgrey;
}

.testo-colonna-centrale{
    font-size: 16px;
    line-height: 26px;
    margin: 90px 0;
}


/* riquadri dei loghi colonna sx */
.designit{
    background-color: #a2d39b;
}

.asu{
    background-color: #61082b;
}

.uf{
    background-color: #0093ce;
}

.tppos{
    background-color: #ff1c1c;
}

.descrizione-customers{
    background-color: rgb(180, 246, 246);
}

/* riquadri dei loghi colonna dx */
.wbr{
    background-color: #d5001f;
}

.hearts{
    background-color: #b4d0e7;
}

.lp{
    background-color: #0d2481;
}

.cco{
    background-color: #ffd830;
}


/* SEZIONE INVITO NELLA TUA AZIENDA */
.contenitor-invito{
    background-color: #b4d0e7;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 120px;
    padding-bottom: 200px;    
}

.text-invito{
    width: 55%;
    float: left;
}

.text-invito h2{
    color: #61082b;
    font-size: 40px;
    line-height: 46px;
}

.blocco-btn-invito{
    float: right;
    margin-top: 5px;
}

.btn-invito{    
    background-color: #ffffff;    
    width: 250px;
    height: 40px;
    text-align: center;    
    line-height: 40px;    
}


/* SEZIONE FAQ */
.section-faq{
    margin: 150px 20%;    
    width: 60%; 
    background-color: lightgreen;      
}


.contenitor-faq hr{
    color: grey;
}

.title-faq h3{
    color: black;
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 50px;
}

.lista-faq{
    margin: 20px 0;    
    
}

.domanda{
    font-size: 20px;
    margin-bottom: 10px;
    padding-right: 300px;
    
}

.visualizza{    
    margin-left: 10px;
    font-size: 20px;
    float: right;    
}

.testo-risposta {
    display: none;    
    color: lightgray;     
}



.lista-faq:hover .p{
    display: block;
}

/* SEZIONE FOOTER */
footer{
    background-color: black;
    height: 645px;  
    width: 100%;
    position: relative;    
}

.footer-contenitor{    
    padding: 150px 0;
    width: 60%;
}

footer > .footer-contenitor{
    position: absolute;             
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
} 

.list-content{    
    height: 270px;
    width: 100%;
}

.lista-dropbox{
    width: 20%;        
    float: left;
}

.lista-dropbox h4{
    color: white;
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 26px;   
}

.lista-dropbox ul{
    list-style-type: none;
}

.lista-dropbox li a{
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-weight: 400;
    line-height: 26px;
}

.lista-dropbox li{
    margin-top: 5px;
}

.lista-dropbox a:hover { 
    text-decoration: underline; 
    color: #fdfdfd;
} 

/* sotto la linea */
.lingua{
    width: 100px;
    padding-top: 55px;
    border-top: 1px solid white;      
}


