*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: SharpGroteskWide,Open Sans,sans-serif;
}

/* INIZIO SEZIONE HEADER */

/* struttura nav */
.nav{    
    background-color: red;
    width: 100%;
    height: 100px;    
    line-height: 100px;
    position: absolute; 
    z-index: 2;
    position: fixed;
}

.clearfix::after{
    display: table;
    content: '';
    clear: both;
}

.sezione-sx{
    float: left;
}

.sezione-dx{
    float: right;
}

.nav ul{
    display: inline-block;
}

.nav a{
    font-size: 16px;
    color: black;
    text-decoration: none;
    vertical-align: middle;
}


/* struttura header */
#main-header nav li{
    display: inline-block;    
}

#main-header nav li a{
    text-decoration: none;
    display: inline-block;  
    box-sizing: border-box;
}

#logo-header{
    height: 30px;
    vertical-align: middle;
    margin-left: 20px;
}

.menu-header{
    display: inline-block; 
    padding-left: 20px ;
    padding-right: 20px; 
}

/*  bottone inizia */
.btn-inizia{    
    float: right;    
    margin-top: 30px;
    color: white;
    background-color: #0061ff;    
    width: 70px;
    height: 40px;
    text-align: center;    
    line-height: 40px;
    margin-right: 20px;

}

#btn-testo-white{
    color: white;

}


/* SEZIONE JUMBOTOTRON */
.jumbotron{
    background-color: #b4d0e7;
    width: 100%;
    height: 850px;  
    position: relative;

}

/* sezione jumbotron-content */
.jumbotron-content{
    padding-top: 70px;
    background-color: royalblue;
    width: 70%;
    height: 750px;
}

.jumbotron > .jumbotron-content{
    position: absolute;        
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.titolo-jumbotron h1{
    margin-top: 20px;
    font-size: 85px;
    letter-spacing:-11px;
    margin-bottom: 30px;
}

.sottotitolo-jumbotron{
    width: 30%;
    height: 400px;
    background-color: saddlebrown;
    font-size: 16px;
    line-height: 26px;
    float: left;
}

.sottotitolo-jumbotron a{
    text-decoration: none;
}

.sottotitolo-jumbotron p{
    margin-bottom: 30px;
}

.btn-prova-gratuita{   
    color: white;
    background-color: #0061ff;    
    width: 250px;
    height: 40px;
    text-align: center;    
    line-height: 40px;
    margin-bottom: 10px;
}

.arrow a{
    font-size: 60px;
    color: black;
    text-decoration: none;

}

/* sezione immagine jumbotron */
.img-jumbotron{
    width: 70%;
    height: 400px;
    background-color:tomato;
    float: right;
    padding-left: 70px;
    
}


/* SEZIONE LISTINO */
.listino-prezzi{
    background-color: burlywood;
    height: 1100px;
    width: 100%;
    position: relative;
}


.content-listino{
    background-color: rgb(76, 221, 214);
    width: 50%;
    height: 1000px;;

}

.listino-prezzi > .content-listino{
    position: absolute;        
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.contenitor-tit-listino{
    background-color: rgb(0, 153, 145);
    width: 100%;
    height: 150px;;

}
.ttl-listino h2{
    margin-top: 100px;
    font-size: 40px;
}

.btn-fatturazione{
    margin-top: 30px;
    font-size: 16px;
    
}

.btn-margin-left{
    margin-right: 25px;
}

/* sezione centrale/colonne */




